<div class="d-flex align-items-center min-vh-100 bg-light">
    <div class="container">
        <div class="row mb-5 text-center">
            <h1 class="col-lg-8 offset-lg-2 display-4">Employee Management</h1>
            <h2>Sign In</h2>
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed()" *ngIf="alert">{{ alert.msg }}</alert>
        </div>
        <div class="row mb-5">
            <form [formGroup]="formGroup" (ngSubmit)="login()" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username" required
                    [class.is-invalid]="isError('username')">
                    <div class="invalid-feedback">Username is required</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"  formControlName="password" required
                    [class.is-invalid]="isError('password')">
                    <div class="invalid-feedback">Password is required</div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                        Sign In
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>