<div class="min-vh-100 bg-light">
    <navbar></navbar>
    <div class="container">
        <div class="row g-3">
            <h1 class="text-center display-4">Employee Management</h1>
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="card">
                <div class="card-body">
                  <div class="row g-3" *ngIf="employee">
                    <div class="col-4">Name</div>
                    <div class="col-8">{{ employee.firstName }} {{ employee.lastName }}</div>

                    <div class="col-4">Username</div>
                    <div class="col-8">{{ employee.username }}</div>
                    
                    <div class="col-4">Email</div>
                    <div class="col-8">{{ employee.email }}</div>
                    
                    <div class="col-4">Birthdate</div>
                    <div class="col-8">{{ employee.birthDate | date:'d MMMM y' }}</div>
                    
                    <div class="col-4">Basic Salary</div>
                    <div class="col-8">Rp. {{ employee.basicSalary | currency:'': '':'':'id' }}</div>
                    
                    <div class="col-4">Status</div>
                    <div class="col-8">{{ employee.status }}</div>
                    
                    <div class="col-4">Group</div>
                    <div class="col-8">{{ employee.group }}</div>
                    
                    <div class="col-12 text-center">
                      <button class="btn btn-secondary" (click)="goBack()">Ok</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>