<nav class="navbar sticky-top navbar-light d-flex justify-content-end">
    <button class="btn btn-info mr-3" (click)="reset()">Reset Dummy Data</button>
    <button class="btn btn-warning" (click)="logout()">Sign Out</button>
</nav>