<div class="min-vh-100 bg-light">
    <navbar></navbar>
    <div class="container">
        <div class="row g-3">
            <h1 class="text-center display-4">Employee Management</h1>
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="formGroup" class="row g-3" *ngIf="employee" (ngSubmit)="save()">
                    <div class="col-4 col-form-label">First Name</div>
                    <div class="col-8">
                      <input type="text" class="form-control" placeholder="First name" formControlName="firstName"
                      [class.is-invalid]="isError('firstName')">
                      <div class="invalid-feedback" *ngIf="isError('firstName')">
                        <div *ngIf="formGroup.controls.firstName.errors?.required">First name is required.</div>
                      </div>
                    </div>

                    <div class="col-4 col-form-label">Last Name</div>
                    <div class="col-8">
                      <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"
                      [class.is-invalid]="isError('lastName')">
                      <div class="invalid-feedback" *ngIf="isError('lastName')">
                        <div *ngIf="formGroup.controls.lastName.errors?.required">Last name is required.</div>
                      </div>
                    </div>

                    <div class="col-4 col-form-label">Username</div>
                    <div class="col-8">
                      <input type="text" class="form-control" placeholder="Username" formControlName="username"
                      [class.is-invalid]="isError('username')">
                      <div class="invalid-feedback" *ngIf="isError('username')">
                        <div *ngIf="formGroup.controls.username.errors?.required">Username is required.</div>
                      </div>
                    </div>
                    
                    <div class="col-4 col-form-label">Email</div>
                    <div class="col-8">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email"
                      [class.is-invalid]="isError('email')">
                      <div class="invalid-feedback" *ngIf="isError('email')">
                        <div *ngIf="formGroup.controls.email.errors?.required">Email is required.</div>
                        <div *ngIf="formGroup.controls.email.errors?.email">Email is invalid.</div>
                      </div>
                    </div>
                    
                    <div class="col-4 col-form-label">Birthdate</div>
                    <div class="col-8">
                      <input type="text" class="form-control" placeholder="Birth Date" formControlName="birthDate" bsDatepicker [maxDate]="today"
                      [class.is-invalid]="isError('birthDate')">
                      <div class="invalid-feedback" *ngIf="isError('birthDate')">
                        <div *ngIf="formGroup.controls.birthDate.errors?.required">Birth Date is required.</div>
                      </div>
                    </div>
                    
                    <div class="col-4 col-form-label">Basic Salary</div>
                    <div class="col-8 input-group">
                      <span class="input-group-text">Rp.</span>
                      <input type="number" class="form-control" placeholder="Basic Salary" formControlName="basicSalary"
                      [class.is-invalid]="isError('basicSalary')">
                      <div class="invalid-feedback" *ngIf="isError('basicSalary')">
                        <div *ngIf="formGroup.controls.basicSalary.errors?.required">Basic Salary is required.</div>
                        <div *ngIf="formGroup.controls.basicSalary.errors?.min">Basic Salary cannot be under 0.</div>
                        <div *ngIf="formGroup.controls.basicSalary.errors?.pattern">Basic Salary must be a non decimal number.</div>
                      </div>
                    </div>
                    
                    <div class="col-4 col-form-label">Status</div>
                    <div class="col-8">
                        <input [typeahead]="statusList" [typeaheadOptionsLimit]="2" [typeaheadMinLength]="0" class="form-control" formControlName="status"
                        placeholder="Status" [class.is-invalid]="isError('status')">
                        <div class="invalid-feedback" *ngIf="isError('status')">
                            <div *ngIf="formGroup.controls.status.errors?.required">Status is required.</div>
                            <div *ngIf="formGroup.controls.status.errors?.inList">Status is invalid.</div>
                        </div>
                    </div>
                    
                    <div class="col-4 col-form-label">Group</div>
                    <div class="col-8">
                        <input [typeahead]="groupList" [typeaheadOptionsLimit]="10" [typeaheadMinLength]="0" class="form-control" formControlName="group"
                        placeholder="Group" [class.is-invalid]="isError('group')">
                        <div class="invalid-feedback" *ngIf="isError('group')">
                            <div *ngIf="formGroup.controls.status.errors?.required">Group is required.</div>
                            <div *ngIf="formGroup.controls.status.errors?.inList">Group is invalid.</div>
                        </div>
                    </div>
                    
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-primary mr-2" [disabled]="loading">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                        Save
                      </button>
                      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>