<div class="d-flex align-items-center min-vh-100 bg-light">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-4">Oops!</h1>
            <h2>Page Not Found</h2>
            <button type="button" class="btn btn-lg btn-secondary col-lg-4 offset-lg-4" (click)="goBack()">Click here to go Back!</button>
        </div>
    </div>
</div>