<div class="min-vh-100 bg-light">
    <navbar></navbar>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-8 offset-lg-2 text-center display-4">Employee Management</h1>
            <div class="px-0 pb-3 form-inline">
                <div class="container">
                    <div class="row g-2">
                        <div class="col-12 col-xl-auto col-sm-12 text-center mr-auto">
                            <button class="btn btn-primary" (click)="addEmployee()">Add Employeee</button>
                        </div>
                        <div class="col-4 col-md-3 col-xl-auto col-form-label">
                            First Name
                        </div>
                        <div class="col-8 col-md-9 col-xl-2">
                            <input type="text" class="form-control w-100" placeholder="First name" [(ngModel)]="firstName" (input)="filterData()">
                        </div>
                        <div class="col-4 col-md-3 col-xl-auto col-form-label">
                            Last name
                        </div>
                        <div class="col-8 col-md-9 col-xl-2">
                            <input type="text" class="form-control w-100" placeholder="Last Name" [(ngModel)]="lastName" (input)="filterData()">
                        </div>
                        <div class="col-4 col-md-3 col-xl-auto col-form-label">
                            Email
                        </div>
                        <div class="col-8 col-md-9 col-xl-2">
                            <input type="text" class="form-control w-100" placeholder="Email" [(ngModel)]="email" (input)="filterData()">
                        </div>
                    </div>
                </div>
            </div>
            <table mat-table matSort [dataSource]="dataSource" [matSortActive]="sortActive" [matSortDirection]="sortDirection" class="col-12">
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                    <td td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-sm btn-warning mr-2" (click)="$event.stopPropagation();editEmployee(element.id)">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="$event.stopPropagation();deleteEmployeeModal(modal, element.id)">Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (click)="detailEmployee(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete Employee</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteEmployee();modal.close()">Yes</button>
    </div>
</ng-template>