/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row .mat-cell {
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background-color: rgba(0, 0, 0, .06);
}

.mat-table {
    border: 1px solid rgba(0, 0, 0,.12);
}

.mat-paginator {
    border-left: 1px solid rgba(0, 0, 0,.12);
    border-right: 1px solid rgba(0, 0, 0,.12);
    border-bottom: 1px solid rgba(0, 0, 0,.12);
}

/* @media (min-width: 576px) {
    .form-inline .form-control {
        width: 100%;
    }
} */